@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
}

/* Global Css */
:root{
  --main-color: #07ac6d;
  --color-1: #e91e63;
  --color-2: #f5ae10;
  --color-3: #07c28d;
  --bg-dark: #2b2c2f;
  --main-to-dark-color: var(--main-color);
  --dark-to-main-color: var(--bg-color);
  --shadow-black-100: 0 5px 15px rgba(0,0,0,0.1);
  --shadow-black-300: 0 5px 15px rgba(0,0,0,0.3);
  --black-900: #000;
  --black-400: #555;
  --black-100: #f7f7f7;
  --black-000: #fff;
  --black-alpha-100: rgba(0,0,0,0.05);
}

.wrapper{
  height: 100%;
  width: 300px;
  position: relative;
}
.wrapper .menu-btn{
  position: absolute;
  left: 20px;
  top: 10px;
  background: #07ac6d;
  color: #fff;
  height: 45px;
  width: 45px;
  z-index: 9999;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
#btn:checked ~ .menu-btn{
  left: 247px;
}
.wrapper .menu-btn i{
  position: absolute;
  font-size: 23px;
  transition: all 0.3s ease;
}
.wrapper .menu-btn i.fa-times{
  opacity: 0;
}
#btn:checked ~ .menu-btn i.fa-times{
  opacity: 1;
  transform: rotate(-180deg);
}
#btn:checked ~ .menu-btn i.fa-bars{
  opacity: 0;
  transform: rotate(180deg);
}
#sidebar{
  position: absolute;
  background: #07ac6d;
  height: 100%;
  width: 270px;
  left: 0;
  top: 0;
  z-index: 100;
}
.main-content{
  margin-left: 270px;
}
#btn:checked ~ #sidebar{
  left: 0;
}
#sidebar .title{
  line-height: 96px;
  text-align: center;
  background: var(--main-color);
  font-size: 25px;
  font-weight: 600;
  color: #f2f2f2;

}
#sidebar .list-items{
  position: relative;
  background: #07ac6d;
  width: 100%;
  height: 100%;
  list-style: none;
}
#sidebar .list-items li{
  line-height: 50px;
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid #333;
  transition: all 0.3s ease;
  align-items: center;
  border-right: 1px solid rgba(107, 106, 106, 0.1);
}
#sidebar .list-items li:hover{
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-shadow: 0 0px 10px 3px #222;
}
#sidebar .list-items li:first-child{
  border-top: none;
}

#sidebar .list-items li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0 5px;
}
.dropmenu-2 ,
.dropmenu {
  font-size: 16px;
  width: 100%;
  color: #f2f2f2;
  text-decoration: none;
  font-weight: 500;
  height: 100%;
  display: inline-block;
  padding: 0 5px;
}
#sidebar .list-items li a.active{
  background: #fff;
  color: var(--main-color);

}
.list-items li h2 i{
  margin-right: 10px;
}
#sidebar .list-items li a i{
  margin-right: 10px;
}
#sidebar .list-items .buttons{
  width: 100%;
  height: 40px;
  text-align: center;
  position: relative;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
#sidebar .list-items .buttons a{
  height: 100%;
  width: 100%;
  display: block;
  margin: 0 5px;
  font-size: 14px;
  color: #f2f2f2;
  background: #4a4a4a;
  border-radius: 5px;
  border: 1px solid #383838;
  transition: all 0.3s ease;
}
#sidebar .list-items .buttons a:hover{
  background: #0c0c0c;
}
.list-items .icons a:first-child{
  margin-left: 0px;
}



.header{
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 270px;
  width: calc(100% - 270px);
  top: 0;
  z-index: 100;

}
.header h2{
  color: #222;
}
.header label span{
  font-size: 1.7rem;
  padding-right: 1rem;
}

.links li{
  display: inline-block;
  margin-left: 60px;
}
.links li a i{
  color: var(--main-color);
  font-size: 20px;
  margin-top: 15px;
  margin-left: 30px;
}

.user-wrapper{
  display: flex;
  align-items: center;
}
.user-wrapper img{
  border-radius: 50%;
  margin-right: 1rem;
}
.user-wrapper h4{
  margin-bottom: 0rem !important;
}
.user-wrapper small{
  display: inline-block;
  color: darkgray;
  font-size: 14px;
}

main{
  margin-top: 85px;
  padding: 2rem 1.5rem;
  background: #f1f5f9;
  min-height: calc(100vh - 90px);
  
}
.cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.card-single{
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 3rem;
}
.card-single div:first-child span{
  color: darkgray;
}
.card-single div:last-child span{
  color: var(--main-color);
  font-size: 2.7rem;
}
.card-single:last-child{
  background: var(--main-color);
}
.card-single:last-child h1,
.card-single:last-child div:first-child span{
  color: #0c0c0c;
}
.card-single:last-child div:last-child span{
  color: #fff;
}
.card-single:first-child{
  background: #0c0c0c;
}
.card-single:first-child h1,
.card-single:first-child div:first-child span{
  color: #fff;
}
.card-single:nth-child(2) h1,
.card-single:nth-child(2) div:first-child span{
  color: var(--main-color);
}
.card-single:nth-child(2) div:last-child span{
  color: #0c0c0c;
}

/* Charts */
.charts{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: none;
  width: 100%;
  padding-top: 0;
  padding: 20px;
}
.chart{
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  width: 100%;
}
.chart h2{
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 5px;
  text-align: center;
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: #000;
  padding: 0;
  font-size: 23px;
  border: transparent;
  cursor: pointer;
  font-weight: 500;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #fff;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 2px solid rgba(7, 1, 1, 0.2);
}
.dropdown-content a i{
  padding-right: 8px;
}
.dropdown-content a:hover,
.dropdown-content a i:hover{
  color: var(--main-color);
  text-decoration: none;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #fff;
}

/* The container <div> - needed to position the dropdown content */


/* Dropdown Content (Hidden by Default) */
.sub-menu-2,
.sub-menu {
  display: none;
  position: absolute;
  background: var(--color-3);
  width: 100%;
  height: auto;
  cursor: pointer;
  z-index: 1;
}

/* Links inside the dropdown */
.sub-menu-2 a,
.sub-menu a {
  width: 100px;
  padding: 1px;
  background: transparent;
  border-radius: 0;
  text-align: left;
}

/* Change color of dropdown links on hover */
.sub-menu-2 a:hover,
.sub-menu a:hover {background-color: var(--color-3)}


